.main{
   width: 400px;
   height: 400px;
   background-color: aqua;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px;
}
.heading{
    color: blue;
}